body {
        margin:0;
    }
header{
    display: flex;
    justify-content: center;
    background-color: #fbc307;
    }
.container{

    padding: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}
label {
    font-weight: bold;
}
span{
    font-style: italic;
}
label, span{
    display: block;
    width: 250px;
    margin-left: 20px;
}
input{
    display: block;
}

form, article {
    margin:10px 10px 10px 10px;
    padding:10px 10px 10px 10px;
    box-shadow:10px 5px 5px grey;
    border: 1px solid  black;
}

form > div{
    display: flex;
    flex-direction: row;
}

.button {
    background-color: #fbc307;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
}

.button:hover{
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.pied_de_section{
    display:flex;
    align-items:center;
}
@media (max-width: 600px) {
    form > div{
    display: flex;
    flex-direction: column;
    }

    label, span{
    display: block;
    width: auto;
    margin-left: 0px;
    margin-bottom:10px
}
    input{
        display: block;

        }
 }